#character{
    height: 48px;
    width: 48px;
    
}

#game-container {
    margin-top: 400px /*temporal para poder testear el salto*/
}

#parallax-background {
    height: auto;
    width: 1536px;
    overflow: hidden;
}

#parallax-background div {
    width: 1536px;
    height: 100%;
}

#parallax-background #image-0 {
    background-image: url(sprites/Parallax-background/0.png);
}

#parallax-background #image-1 {
    background-image: url(sprites/Parallax-background/1.png);
}

#parallax-background #image-2 {
    background-image: url(sprites/Parallax-background/2.png);
}

#parallax-background #image-3 {
    background-image: url(sprites/Parallax-background/3.png);
}

#parallax-background #image-4 {
    background-image: url(sprites/Parallax-background/4.png);
}

#parallax-background #image-5 {
    background-image: url(sprites/Parallax-background/5.png);
}

#parallax-background #image-6 {
    background-image: url(sprites/Parallax-background/6.png);
}

/*//////////////////////////////////////KEYFRAMES//////////////////////////////////////*/
@keyframes idle {
    0%{background-position: 0px;}
    100%{background-position: -192px;}
}

@keyframes run {
    0%{background-position: 0px;}
    100%{background-position: -288px;}
}

@keyframes death {
    0%{background-position: 0px;}
    100%{background-position: -288px;}
}

@keyframes hurt {
    0%{background-position: 0px;}
    100%{background-position: -96px;}
}

@keyframes jump {
    0%{background-position: 0px;}
    50%{transform: translateY(-60px);}
    100%{background-position: -192px;}
}
/*//////////////////////////////////////KEYFRAMES//////////////////////////////////////*/