#character{
    height: 48px;
    width: 48px;
    
}

#game-container {
    margin-top: 400px /*temporal para poder testear el salto*/
}


/*//////////////////////////////////////KEYFRAMES//////////////////////////////////////*/
@keyframes idle {
    0%{background-position: 0px;}
    100%{background-position: -192px;}
}

@keyframes run {
    0%{background-position: 0px;}
    100%{background-position: -288px;}
}

@keyframes death {
    0%{background-position: 0px;}
    100%{background-position: -288px;}
}

@keyframes hurt {
    0%{background-position: 0px;}
    100%{background-position: -96px;}
}

@keyframes jump {
    0%{background-position: 0px;}
    50%{transform: translateY(-60px);}
    100%{background-position: -192px;}
}
/*//////////////////////////////////////KEYFRAMES//////////////////////////////////////*/