body {
    margin: 0;
    /* overflow hidden para evitar scrolling */
    overflow-x: hidden;
    overflow-y: hidden;
    image-rendering: pixelated;
}

/*//////////////////////////////////////PARALLAX//////////////////////////////////////*/
.images {
    width: 100%;
    height: 100%; /*se pueden usar píxeles también*/
    top: 0px; /*para ubicar mejor el "background"*/
    position: absolute;
}

@keyframes parallax {
    0%{
        background-position: 0px;
    }
    100%{
        background-position: -1536px;
    }
    
}

#image-0 {
    background: url(Archivos/Parallax-background/0.png) repeat-x;
}

#image-1 {
    background: url(Archivos/Parallax-background/1.png) repeat-x;
}

#image-2 {
    background: url(Archivos/Parallax-background/2.png) repeat-x;
}

#image-3 {
    background: url(Archivos/Parallax-background/3.png) repeat-x;
}

#image-4 {
    background: url(Archivos/Parallax-background/4.png) repeat-x;
}

#image-5 {
    background: url(Archivos/Parallax-background/5.png) repeat-x;
}

#image-6 {
    background: url(Archivos/Parallax-background/6.png) repeat-x;
}
/*//////////////////////////////////////PARALLAX//////////////////////////////////////*/


/*//////////////////////////////////////CHARACTER//////////////////////////////////////*/
.character{
    height: 48px;
    width: 48px; /*modificable de 34px hasta 48px (inclusive)*/
    position: absolute;
    bottom: 41%;
    left: 10px;
    z-index: 1;
}

@keyframes idle {
    0%{background-position: 0px;}
    100%{background-position: -192px;}
}

@keyframes run {
    0%{background-position: 0px;}
    100%{background-position: -288px;}
}

@keyframes death {
    0%{background-position: 0px;}
    100%{background-position: -288px;}
}

@keyframes hurt {
    0%{background-position: 0px;}
    100%{background-position: -96px;}
}

@keyframes jump {
    0%{background-position: 0px;}
    50%{transform: translateY(-60px);}
    100%{background-position: -192px;}
}
/*//////////////////////////////////////CHARACTER//////////////////////////////////////*/

/*//////////////////////////////////////GAME OBJECTS//////////////////////////////////////*/
.afip {
    /*setearle el tamaño (height y width)*/
    position: absolute;
    bottom: 60%;
    background-image: url(Archivos/AFIP.jpg);
}

.dollar {
    /*setearle el tamaño (height y width)*/
    position: absolute;
    bottom: 60%;
    background-image: url(Archivos/dollar.png);
}

.clock {
    /*setearle el tamaño (height y width)*/
    position: absolute;
    bottom: 41%;
    background-image: url(Archivos/clock.png);
}

.peso {
    /*setearle el tamaño (height y width)*/
    position: absolute;
    bottom: 60%;
    background-image: url(Archivos/peso.png);
}

.thief {
    /*setearle el tamaño (height y width)*/
    position: absolute;
    bottom: 41%;
    background-image: url(Archivos/thief.png);
}

@keyframes gameObject {
    0%{transform: translateX(1600px);}
    100%{transform: translateX(-100px);}
}
/*//////////////////////////////////////GAME OBJECTS//////////////////////////////////////*/